comtypes==1.1.1
pywinauto==0.6.4
pypiwin32==220
PyQt5==5.11.3
matplotlib==3.0.2
wakeonlan==1.1.6
numpy==1.15.4
requests==2.21.0
astropy==3.1
requests_toolbelt==0.8.0
pytest==4.0.2
pytest-qt==3.2.2
coverage==4.5.2
flake8==3.6.0
pyinstaller==3.4